name: every-15-mins-task
on:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  run-task:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run script
        run: |
          # replace below with the commands you need to run
          node ./scripts/my-task.js
